
    .calendar {
        background-color: $light-green;
        &-title h3 {
            font-family: $headings-font-family;
            font-size: 1.4rem;
        }
    
        &-item {
            margin: 1rem 0;
            color: $font-subtitle-color;
            i{
                color: $gray-500;
            }
        }
    }
    
