.gallery {
	&-image {
		img {
			max-width: 100%;
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
		}
	}
	
	h4 {
		color: $dark-black;
		font-size: 1.1rem;
		line-height: 1rem;
		margin-top: 1.5rem;
	}
	&-subtitle {
		font-size: 0.9rem;
		color: lighten($color: $main-color, $amount: 20);
	}
}
