// Styling for the masthead
.hero {
	background-color: $first-color;
	padding-top: 70px;
	padding-bottom: 15px;
	&-wrapper {
		padding: 1rem 0 1rem;
		position: relative;
	}
	&-item {
		img {
			max-height: 450px;
			max-width: 100%;
		}
		h1.hero-title {
			padding-top: 2rem;
			font-size: 2.5rem;
			font-weight: 300;
			margin-bottom: 1rem;
			strong{
				font-weight: 700;
			}
		}
		@include media-breakpoint-up(lg) {
				h1.hero-title {
					font-size: 2.6rem;
				}
		}
		@include media-breakpoint-up(xl) {
				h1.hero-title {
					font-size: 2.9rem;
				}
		}
		ul{
			padding-left: 0px;
			padding-right: 0px;
			margin-top: 1rem;
			margin-bottom: 3rem;
			font-size: 1rem;
			li{
			list-style: none;
			margin-bottom: 0.6rem;
			i{
				margin-right: 1rem;
				color: $main-color;
			}
			}
		}
	}	
}

.cover{
	background-color: $first-color;
	padding-top: 70px;
	min-height: 200px;
	display: flex;
	width: 100%;
	&-wrapper {
		max-width: 90%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		margin: auto;
		padding: 1rem 0 3rem;
	}
	&-item {
		max-width: 100%;
		h1.cover-title {
			font-size: 2.4rem;
			font-weight: 300;
			margin-bottom: 1rem;
			strong{
				font-weight: 700;
			}
		}
		.cover-subtitle {
			color: $main-color;
			font-size: 1rem;
		}
	}

	@include media-breakpoint-up(md) {
		&-item {
			h1.cover-title {
				font-size: 2.5rem;
			}
			.cover-subtitle {
				font-size: 1.15rem;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		background-attachment: fixed !important;
		&-item {
			h1.cover-title {
				font-size: 3.5rem;
			}
			.cover-subtitle {
				font-size: 1rem;
			}
		}
	}
	@include media-breakpoint-up(xl) {
		&-item {
			h1.cover-title {
				font-size: 4rem;
				max-width: 100%;
			}
		}
	}
}