// Styling for the masthead
.hero {
	padding-top: 7rem;
	@include media-breakpoint-up(lg) {
		padding-top: 8rem;
	}
	&-wrapper {
		padding: 1rem 0 1rem;
	}
	&-pre-title{
		margin-bottom: 1.5rem;
		color: $dark-black;
		font-size: 0.8rem;
		text-transform: uppercase;
	}
	&-title {
		display: inline;
		font-size: 2.5rem;
		font-weight: 300;
		margin-bottom: 1.5rem;
		strong{
			font-weight: 700;
		}
	}
	&-subtitle{
		color: $dark-black;
		margin-bottom: 2rem;
		font-size: 1.2rem;
	}
	&-button{
		margin-bottom: 5rem;
	}
	@include media-breakpoint-up(md) {
		&-pre-title{
			font-size: 0.9rem;
			margin-bottom: 2rem;
		}
		&-title {
			font-size: 4.5rem;
			margin-bottom: 2rem;
		}
		&-subtitle{
			font-size: 1.3rem;
			margin-bottom: 3rem;
		}
	}
	@include media-breakpoint-up(lg) {
		&-pre-title{
			font-size: 0.9rem;
		}
		&-title {
			font-size: 5rem;
		}
		&-subtitle{
			font-size: 1.5rem;
		}
	}
	ul{
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 1rem;
		margin-bottom: 3rem;
		font-size: 1rem;
		li{
		list-style: none;
		margin-bottom: 0.6rem;
		i{
			margin-right: 1rem;
			color: $main-color;
		}
		}
	}
}

.cover{
	background-color: $first-color;
	padding-top: 70px;
	min-height: 200px;
	display: flex;
	width: 100%;
	&-wrapper {
		max-width: 90%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		margin: auto;
		padding: 1rem 0 3rem;
	}
	&-item {
		max-width: 100%;
		h1.cover-title {
			font-size: 2.4rem;
			font-weight: 300;
			margin-bottom: 1rem;
			strong{
				font-weight: 700;
			}
		}
		.cover-subtitle {
			color: $dark-black;
			font-size: 1rem;
		}
	}

	@include media-breakpoint-up(md) {
		&-item {
			h1.cover-title {
				font-size: 3rem;
			}
			.cover-subtitle {
				font-size: 1.15rem;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		background-attachment: fixed !important;
		&-item {
			h1.cover-title {
				font-size: 3.5rem;
			}
			.cover-subtitle {
				font-size: 1rem;
			}
		}
	}
	@include media-breakpoint-up(xl) {
		&-item {
			h1.cover-title {
				font-size: 4rem;
				max-width: 100%;
			}
		}
	}
}