.package{
    .item {
      position: relative;
      padding: 2.5rem 2rem;
      border-radius: 10px;
      overflow: hidden;

      &-main-title{
        max-width: 70%;
        margin-bottom: 1rem;
        margin-top: 0;
      }
      &-title{  
        font-size: 3rem;
        font-weight: 700;
        margin-right: 10px;
        @include stroke(2, $darker-black);
      }
      &-price{
        margin-top: 0.5rem;
      }
      &-text-right{
        margin-right: 0.5rem;
      }
      &-text-left{
        margin-right: 0.5rem;
        font-style: italic;
        font-size: 0.9rem;
        margin-bottom: -10px;
        color: $dark-black;
      }
      &-btn{
        margin-top: auto;
      }
      &-list{
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        font-size: 0.9rem;
        li{
          list-style: none;
          margin-bottom: 0.6rem;
          i{
            margin-right: 0.5rem;
            font-size: 0.8rem;
            color: $main-color;
          }
        }
      }
      &-img{
        max-height: 100%;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
}