.project{
    &-title{
        font-weight: 700;
    }
    &-slider-wrapper{
        padding-top: 4rem;
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: relative;
        padding: 0px 0px 0px 32px;
        width: 100%;
    }
	&-slider {
        padding-bottom: 5rem;
        margin: 0px;
        position: relative;
        display: flex;
        flex: 1 1 100%;
        width: 100%;
        height: 100%;
        align-items: center;
        flex-direction: row;
        overflow: auto hidden;
        scroll-snap-type: x mandatory;
	}
    &-btn{
        margin-right: 1rem;
        border-radius: 10px;
        border-color: transparent;
        width: 200px;
        scroll-snap-align: center;
        flex-shrink: 0;
        scroll-snap-stop: always;
        @include media-breakpoint-up(md) {
            width: 300px;
            margin-right: 2rem;
        }
        @include media-breakpoint-up(lg) {
            width: 350px;
            margin-right: 3rem;
        }
    }
	&-img {
        width: 100%;
	}
    .modal-dialog {
        position: static;
        transition: none !important;
    }
    
    .modal-content {
        background: transparent;
        border: none;
        position: static;
        .modal-header {
            border: none;
            button {
                color: #333;
                opacity: 0.65;
                &:hover {
                    opacity: 1;
                }
            }
        }
        .modal-body {
            padding-top: 0;
            position: static;
            img{
                max-width: 100%;
            }
        }
    }
}

.modal-backdrop{
    background-color: $dark-black;
}