.scope{
    border: 6px solid $light-gray;
    border-radius: 10px;
    padding: 50px;
    &-underline{
        border-bottom: 6px solid $light-gray;
        margin-bottom: 40px;
        padding-bottom: 16px;
        font-weight: 700;
    }
}