// Styling for the masthead
.slider {
    padding: 4rem 0;
    position: relative;
    .carousel {
        height: calc(100vh - 130px);
        &-caption {
            bottom: auto;
            right: 0;
            left: 0;
            text-align: left;
        }
        &-item {
            height: calc(100vh - 60px);
        }
        &-indicators li {
            background-color: $darker-black;
        }
    }
    &-wrapper {
        min-height: 80vh;
        max-width: 90%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        &--blue{
            background-color: $light-blue;
        }
        &--green{
            background-color: $light-green;
        }
    }
    &-item {
        max-width: 100%;
        flex-basis: auto;
        img {
            max-width: 230px;
        }
        h1.slider-title {
            color: $font-title-color;
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }
        .slider-subtitle {
            color: $font-text-color;
            font-size: 1rem;
        }
    }
    .sl-img-2 {
        position: absolute;
        left: -20px;
        top: 30%;
        img {
            max-width: 100px;
        }
    }
    .sl-img-3 {
        position: absolute;
        right: 10%;
        top: 40%;
        img {
            max-width: 50px;
        }
    }
    .sl-img-4 {
        position: absolute;
        bottom: 75px;
        right: 0;
        img {
            max-width: 70px;
        }
    }
    .sl-img-5 {
        position: absolute;
        bottom: 75px;
        right: 0;
        img {
            max-width: 30px;
        }
    }
    .sl-img-6 {
        position: absolute;
        left: 50%;
        top: 181px;
        img {
            max-width: 90px;
        }
    }
    .sl-img-7 {
        position: absolute;
        right: 0;
        top: 0;
        img {
            max-width: 100px;
        }
    }

    @include media-breakpoint-up(md) {
        .sl-img-2 {
            position: absolute;
            left: -20px;
            top: 30%;
            img {
                max-width: 175px;
            }
        }
        .sl-img-3 {
            position: absolute;
            left: 90px;
            top: 60%;
            img {
                max-width: 150px;
            }
        }
        .sl-img-4 {
            position: absolute;
            bottom: 75px;
            right: 0;
            img {
                max-width: 250px;
            }
        }
        .sl-img-5 {
            position: absolute;
            bottom: 75px;
            right: 0;
            img {
                max-width: 90px;
            }
        }
        .sl-img-6 {
            position: absolute;
            left: 40%;
            top: 90px;
            img {
                max-width: 90px;
            }
        }
        .sl-img-7 {
            position: absolute;
            right: 0;
            top: 0;
            img {
                max-width: 130px;
            }
        }      
        &-wrapper{
            min-height: 80vh;    
        }
        &-item {
            max-width: calc(100% / 2);
            align-self: center;
            img {
                max-width: 90%;
            }
            h1.slider-title {
                font-size: 2.5rem;
            }
            .slider-subtitle {
                font-size: 1.15rem;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &-item {
            h1.slider-title {
                font-size: 3.5rem;
            }
            .slider-subtitle {
                font-size: 1rem;
            }
        }
    }
    @include media-breakpoint-up(xl) {
        &-item {
            h1.slider-title {
                font-size: 4rem;
                max-width: 100%;
            }
        }
    }
}
