.spot{
    &-fill{
        background-color:  $font-subtitle-color;
        border-radius: 50%;
        height: 8px;
        width: 8px;
        margin-right: 3px;
    }
    &-empty{
        background-color: $white;
        border-radius: 50%;
        height: 8px;
        width: 8px;
    }
    &-text{
        margin-top: 0.5rem;
        font-size: 0.7rem;
        font-weight: 700;
        color: $font-subtitle-color;
    }
}