.testimonial{
      padding: 1.5rem 2rem;
      border-radius: 10px;
      height: 100%;
        &-img{
            margin-right: 1rem;
            margin-bottom: 0.5rem;
            max-width: 50px;
            max-height: 50px;
        }
        &-message{
            color: $dark-black;
            font-size: 0.9rem;
            margin-bottom: 0.5rem;
        }
        &-subtitle-link{
            color: $dark-black;
            font-size: 1rem;
        }
        &-subtitle{
            font-size: 0.8rem;
            font-style: italic;
            margin-bottom: 0.5rem;
            color: $dark-black;
        }
    }