// Variables

// Color overrides

// Set a custom color
$blue:#525D7D;
$light-blue: #CAE5FF;
$light-green: #A3F5D3;
$light-gray: #f6f4f4;
$dark-gray: #dddddd;
$dark-black: #444;
$darker-black: #333;
$yellow: #FFEA7C;

// Set color for theme
$first-color: $yellow;
$second-color: $light-gray;
$third-color: $light-blue;
$main-color: $blue !default;

$font-title-color: $darker-black;
$font-subtitle-color: $dark-black;
$font-text-color: $darker-black;
$body-background: white;

$divider-color: $main-color;
$main-color-dark: darken( $main-color, 10% ) !default;

// Font overrides
$font-family-serif: 'Roboto', sans-serif !default;
$headings-font-family: $font-family-serif !default;
$font-family-base: $font-family-serif !default;

// shadows
$box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

// navbar variables
$navbar-color: white;
$navbar-height: 60px;
$navbar-cta-color: $font-title-color;
$navbar-cta-bg-color: $main-color;
$navbar-text-color: $font-title-color;
$navbar-text-color-hover: rgba(200, 200, 200, 0.2);
$navbar-font-family: $headings-font-family;
$navbar-shadow: none;
$navbar-togle-collapse: white;
$navbar-togle-collapse-line: #ddd;